extends ../../_commons/views/layout

<!-- Test page for multiple views support, check genre module -->

block content
  h3= 'Common result page'
  h1= resultTitle
  p= resultMessage
  a(href="/") Back home